:root {
    --color-white: white;
    --color-header: rgb(112,175,120);
    --color-header2: rgba(103, 164, 109, 0.836);
    --color-header2-hover: rgba(92, 155, 92, 0.708);
    --color-secondary-blocks: black;
    --height-header: 200px;
    --fixedheight-header: 40px;

    --font-size-main-blocks: 20px;
    --font-size-secondary-blocks: 0.875em;
    --font-size-header-fixed: 16px; 
    --font-size-header-Notfixed: 30px;

    --font-weight-main-blocks: 600;
    --font-weight-secondary-blocks: 550;
}

html {
    scroll-behavior: smooth;
    transition: ease 2s;
}

body {
    font-size: 15px;
    margin:0;
    font-family: 'Jost';
    margin: 0;
    padding: 0;
    background-color: rgba(220, 255, 220, 0.685);
    color: var(--color-white);
    font-weight: 500;
}

* {
    margin: 0;
    padding: 0;
  }


/****  Header  ****/

.header {
    height: 200px;
    color: var(--color-white);
    background: var(--color-header);
    width: 100%;
}

.header-div {
    height: 200px;
    width: 100%;
}

.header-fixed {
  background: var(--color-header2);
  font-size: var(--font-size-header-fixed);
  position: fixed;
  line-height: 40px;
  height: 40px;
  width: 100%;
}

.header-list {
    padding: 0;
    list-style-type: none;
    text-align: center;
    display: flex;
    justify-content: center;
}

.header-list-item {
    min-width: 150px;
    display: block;
    text-align: center;
    transition: ease 0.5s;
}

.header-list-link {
    text-decoration: none;
    color: var(--color-white);
    display: block;
}

.header-list-item:hover {
    background-color: var(--color-header2-hover);
}

.header-notFixed {
    padding-top: 70px;
    text-align: center;
    font-size: var(--font-size-header-Notfixed);
}

.header-notFixed-paragraph {
    font-size: 20px;
    font-weight: 400;
}

.main {
    width: 100%;
}

.article-div {
    display: flex;
    height: 3000px;
    max-width: 100%;
    margin-top: 50px;
    justify-content: center;
}

.article {
    max-width: 85%;
    display: flex;
    display: grid;
    grid-template-columns: minmax(100px, 3fr) minmax(100px, 3fr) minmax(100px, 3fr);
    grid-template-rows: repeat(20, 3fr);
    grid-gap: 10px;
}

/* 1 Позиционирование блоков */

.article-block_1 {
    background-color: rgba(102, 172, 58, 0.736);
    border-radius: 15px;
    box-shadow: 0px 0px 46px -9px rgba(0, 0, 0, 0.15);
    grid-area: 1 / 2 / 3 / 1;
    height: 290px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.article-block_2 {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 0px 0px 46px -9px rgba(0, 0, 0, 0.15);
    grid-area: 1 / 3 / 2 / 2;
    height: 140px;
    justify-content: center;
    align-content: center;
}

.article-block_3 {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 0px 0px 46px -9px rgba(0, 0, 0, 0.15);
    grid-area: 1 / 4 / 2 / 3;
    height: 140px;
    justify-content: center;
    align-content: center;
}

.article-block_4 {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 0px 0px 46px -9px rgba(0, 0, 0, 0.15);
    grid-area: 2 / 3 / 3 / 2;
    height: 140px;
    justify-content: center;
    align-content: center;
}

.article-block_5 {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 0px 0px 46px -9px rgba(0, 0, 0, 0.15);
    grid-area: 2 / 4 / 3 / 3;
    height: 140px;
    justify-content: center;
    align-content: center;
}

.article-block_1_img {
    height: 100px;
    width: 100px;
    border-radius: 20px;
}

.article-block_1_paragraph {
    text-align: center;
    font-size: var(--font-size-main-blocks);
    font-weight: var(--font-weight-main-blocks);
}

.article-block_2_paragraph {
    text-align: center;
    color: var(--color-secondary-blocks);
    font-size: var(--font-size-secondary-blocks);
    font-weight: var(--font-weight-secondary-blocks);
    margin-right: 10px;
    margin-left: 10px;
}

.article-block_3_paragraph {
    text-align: center;
    color: var(--color-secondary-blocks);
    font-size: var(--font-size-secondary-blocks);
    font-weight: var(--font-weight-secondary-blocks);
    margin-right: 10px;
    margin-left: 10px;
}

.article-block_4_paragraph {
    text-align: center;
    color: var(--color-secondary-blocks);
    font-size: var(--font-size-secondary-blocks);
    font-weight: var(--font-weight-secondary-blocks);
    margin-right: 10px;
    margin-left: 10px;
}

.article-block_5_paragraph {
    text-align: center;
    color: var(--color-secondary-blocks);
    font-size: var(--font-size-secondary-blocks);
    font-weight: var(--font-weight-secondary-blocks);
    margin-right: 10px;
    margin-left: 10px;
}

/* 2 Позиционирование блоков */

.article-block_6 {
    margin-top: 150px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 0px 0px 46px -9px rgba(0, 0, 0, 0.15);
    grid-area: 3 / 2 / 6 / 1;
    height: 510px;
    min-height: 200px;
}

.article-block_7 {
    margin-top: 150px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 0px 0px 46px -9px rgba(0, 0, 0, 0.15);
    grid-area: 3 / 3 / 4 / 2;
    height: 250px;
}

.article-block_8 {
    margin-top: 150px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 0px 0px 46px -9px rgba(0, 0, 0, 0.15);
    grid-area: 3 / 3 / 6 / 3;
    height: 510px;
}

.article-block_9 {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 0px 0px 46px -9px rgba(0, 0, 0, 0.15);
    grid-area: 4 / 2 / 4 / 3;
    height: 250px;
}

@media (max-width: 450px) {

    .header-list-item {
        min-width: 100px;
    }

    .article-block_1_paragraph{
        font-size: 13px;
    }

    .article-block_1_img {
        height: 70px;
        width: 70px;
    }

    .article {
        max-width: 95%;
    }

    .article-block_2_paragraph,
    .article-block_3_paragraph,
    .article-block_4_paragraph,
    .article-block_5_paragraph {
        font-size: 8px;
    }

    .article-block_1 {
        height: 280px;
    }

    .article-block_2,
    .article-block_3,
    .article-block_4,
    .article-block_5 {
        height: 135px;
    }

    .article-block_6,
    .article-block_8 {
        height: 255px;
    }

    .article-block_7,
    .article-block_9 {
        height: 125px;
    }

}

@media (max-width: 315px) {
    .header {
        width: 380px;
    }

    .header-div {
        width: 350px;
    }
}

@media (max-width: 340px) {

    .article-block_2_paragraph,
    .article-block_3_paragraph,
    .article-block_4_paragraph,
    .article-block_5_paragraph {
        font-size: 7px;
    }

    .article {
        max-width: 100%;
    }

    .header {
        height: 250px;
    }

    .header-fixed {
        font-size: 14px;
    }

}

/*@media (max-width: 769px) {
    .article-block_2_paragraph {
        margin-top: 5px;
        font-size: 5px;
    }

    .article-block_1_paragraph{
        font-size: 10px;
    }

    .article-block_1_img {
        height: 70px;
        width: 70px;
    }

    .article-block_1 {
        height: 140px;
    }

    .article-block_2,
    .article-block_3,
    .article-block_4,
    .article-block_5 {
        height: 60px;
    }

}

/* width: 220px;
    height: 150px; */